@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600&display=swap');

*{
    padding: 0;
    margin: 0;
}

.text_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 15px;
}
.text_info > *{
    padding: 8px;
    text-align: center;
}
.text_info > h1{
    font-family: 'Exo 2', sans-serif;
}
.text_info > p{
    font-size: 18px;
    font-family: 'Edu TAS Beginner', cursive;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
}
.container > *{
    width: 100%;
}
.dynamic-div, .inner-div{
    display: flex;
    margin: 5px;
    gap: 15px;
}
.dynamic-div > *{
    padding: 5px;
    font-size: 18px;
}
.dynamic-div{
    justify-content: space-between;
    align-items: center;
}
.dynamic-div > button{
    font-size: 14px;
    width: 25px;
    height: 25px;
}
button{
    width: 30px;
    height: 30px;
}